@use '../index.scss' as i;

.recipe-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-recipe-img {
    height: 35vh;
    width: 55vw;
    border-radius: 25px;
    
}

.recipe-deets {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// .details-container {
//     // @include i.gradientBackground;
//     background-color: lighten(green, 10%);
//     width: 50vw;
//     height: 65vh;
// }

@media (min-width: 375px){
    .details-container {
        background-color: rgba(11, 212, 65, .3);
        border-radius: 50px;
        width: 43vw;
    }
    .recipe-title {
        width: 35vw;
    }
    .single-recipe-img {
        height: 175px;
        width: 190px;
    }
}

@media (min-width: 768px) {
    .single-recipe-img {
        height: 200px;
        width: 250px;
    }
    .details-container{
        width: 75vw;
        // border-radius: 50px;

    }
}


// .button-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .add-button {
//     @extend .edit-button;
// }