.nav-bar {
    width: 15vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(0, 128, 0, 0.5), rgb(144, 238, 144, 0.5), rgb(189, 247, 189, 0.5));
}

.nav-img {
    width: 100px;
    border-radius: 100px;
}

.nav-profile-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

// .nav-planet-icon {
//     align-self: center;
// }

// .plant-logo {
//     width: 100px;
//     height: 100px;
    
// }


.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: black;
}

//so it has to be atleast 375 px before this is true.
@media (min-width: 375px){
    .nav-bar {
        width: 20vw;
        height: 100vh;
    }
}
@media (min-width: 768px ) {
    .nav-bar{
        width: 5vw;
        height: 100vh;
    }
}